@model CreatePaisViewModel

<div class="row">
    <div class="col text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>


<form method="post">

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalLabel">Salvar registro</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Deseja salvar o novo registro?
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="mb-3">
        <label asp-for="NmPais" class="form-label">País</label>
        <input asp-for="NmPais" type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="SiglaPais" class="form-label">Sigla</label>
        <input asp-for="SiglaPais" type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="DdiPais" class="form-label">DDI</label>
        <input asp-for="DdiPais" type="text" class="form-control">
    </div>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">
        Salvar
    </button>
    <button asp-controller="Pais" asp-action="Index"  class="btn btn-danger">Voltar</button>
</form>