@model CreateEstoqueViewModel

<div class="row">
    <div class="col text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>


<form method="post">

    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalLabel">Salvar registro</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Deseja salvar o novo registro?
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="mb-3">
        <label asp-for="produto" class="form-label">Produto</label>
        <input asp-for="produto.Id" type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="cor" class="form-label">Cor</label>
        <input asp-for="cor.Id" type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="tamanho" class="form-label">Tamanho</label>
        <input asp-for="tamanho.Id" type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="Qtd" class="form-label">Quantidade</label>
        <input asp-for="Qtd" type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="VlrCompra" class="form-label">Valor de Compra</label>
        <input asp-for="VlrCompra" type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="VlrVenda" class="form-label">Valor de Venda</label>
        <input asp-for="VlrVenda" type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="PercVenda" class="form-label">Percentual de Venda</label>
        <input asp-for="PercVenda" type="text" class="form-control">
    </div>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal">
        Salvar
    </button>
    <button asp-controller="Estoque" asp-action="Index"  class="btn btn-danger">Voltar</button>
</form>