@model ModalEstoqueViewModel

@{
  Layout = null;
}

@* <div class="row">
    <div class="col text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
</div> *@


<div class="container">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="estoqueModalLabel">Detalhes do Produto: @Model.Referencia + ' - ' + @Model.produto.DsProduto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label asp-for="Referencia" class="form-label">Referência</label>
            <input asp-for="Referencia" type="text" class="form-control" readonly>
          </div>

          <div class="mb-3">
            <label asp-for="produto" class="form-label">Produto</label>
            <input asp-for="produto.DsProduto" type="text" class="form-control" readonly>
          </div>

          <div class="mb-3">
            <label asp-for="cor" class="form-label">Cor</label>
            <input asp-for="cor.DsCor" type="text" class="form-control" readonly>
          </div>

          <div class="mb-3">
            <label asp-for="tamanho" class="form-label">Tamanho</label>
            <input asp-for="tamanho.DsTamanho" type="text" class="form-control" readonly>
          </div>

          <div class="mb-3">
            <label asp-for="Qtd" class="form-label">Quantidade</label>
            <input asp-for="Qtd" type="text" class="form-control" readonly>
          </div>

          <div class="mb-3">
            <label asp-for="VlrCompra" class="form-label">Valor de Compra</label>
            <input asp-for="VlrCompra" type="text" class="form-control" readonly>
          </div>

          <div class="mb-3">
            <label asp-for="VlrVenda" class="form-label">Valor de Venda</label>
            <input asp-for="VlrVenda" type="text" class="form-control" readonly>
          </div>

          <div class="mb-3">
            <label asp-for="PercVenda" class="form-label">Percentual de Venda</label>
            <input asp-for="PercVenda" type="text" class="form-control" readonly>
          </div>

          <div class="mb-3">
            <label asp-for="DataCadastro" class="form-label">Data de Cadastro</label>
            <input asp-for="DataCadastro" type="text" class="form-control" readonly>
          </div>

          <div class="mb-3">
            <label asp-for="DataUltAlteracao" class="form-label">Data da Última Alteração</label>
            <input asp-for="DataUltAlteracao" type="text" class="form-control" readonly>
          </div>
        </div>
        <div class="modal-footer">
          <a 
            type="button" 
            class="btn btn-primary" 
            asp-controller="Estoque"
            asp-action="Edit" 
            asp-route-id="@Model.Referencia"
            >
            Editar
          </a>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
</div>