@model ModalCondicaoPagtoViewModel

@{
  Layout = null;
}

@* <div class="row">
    <div class="col text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
</div> *@


<div class="container">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="condicaoPagtoModalLabel">Detalhes da Condição de Pagto: @Model.DsCondicaoPagto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label asp-for="Id" class="form-label">Código</label>
            <input asp-for="Id" type="text" class="form-control" readonly>
          </div>

          <div class="mb-3">
            <label asp-for="DsCondicaoPagto" class="form-label">Descrição</label>
            <input asp-for="DsCondicaoPagto" type="text" class="form-control" readonly>
          </div>

          <div class="mb-3">
            <label asp-for="Multa" class="form-label">Multa</label>
            <input asp-for="Multa" type="text" class="form-control" readonly>
          </div>

          <div class="mb-3">
            <label asp-for="Juros" class="form-label">Juros</label>
            <input asp-for="Juros" type="text" class="form-control" readonly>
          </div>

          <div class="mb-3">
            <label asp-for="DescFinanceiro" class="form-label">Desc. Financeiro</label>
            <input asp-for="DescFinanceiro" type="text" class="form-control" readonly>
          </div>

          <div class="mb-3">
            <label asp-for="DataCadastro" class="form-label">Data de Cadastro</label>
            <input asp-for="DataCadastro" type="text" class="form-control" readonly>
          </div>

          <div class="mb-3">
            <label asp-for="DataUltAlteracao" class="form-label">Data da Última Alteração</label>
            <input asp-for="DataUltAlteracao" type="text" class="form-control" readonly>
          </div>
        </div>
        <div class="modal-footer">
          <a 
            type="button" 
            class="btn btn-primary" 
            asp-controller="CondicaoPagto"
            asp-action="Edit" 
            asp-route-id="@Model.Id"
            >
            Editar
          </a>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
</div>