@model ModalCoresGradeViewModel

@{
  Layout = null;
}

@* <div class="row">
    <div class="col text-center">
        <h1>@ViewData["Title"]</h1>
    </div>
</div> *@


<div class="container">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="paisModalLabel">Detalhes das Cores/Grade</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label asp-for="cor" class="form-label">Cód. Cor</label>
            <input asp-for="cor.Id" type="text" class="form-control" readonly>
          </div>

          <div class="mb-3">
            <label asp-for="cor" class="form-label">Cor</label>
            <input asp-for="cor.DsCor" type="text" class="form-control" readonly>
          </div>
          <div class="mb-3">
            <label asp-for="gradeCor" class="form-label">Cód. Grade</label>
            <input asp-for="gradeCor.Id" type="text" class="form-control" readonly>
          </div>

        </div>
        <div class="modal-footer">
          <a 
            type="button" 
            class="btn btn-primary" 
            asp-controller="CorGrade"
            asp-action="Edit" 
            asp-route-id="@Model.cor.Id, @Model.gradeCor.Id"
            >
            Editar
          </a>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
</div>